*.log
*.tmp
*.swp
*.swo
*.bak
*.orig
.cache/
cache/
.cache-loader/
__pycache__/
*.pyc
*.pyo

.DS_Store

venv/

.env
.env.*
!.env.example

db.*
**/migrations/**
!**/migrations/__init__.py

staticfiles/
node_modules/
dist/
build/